@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Genos:wght@200;400&family=Rajdhani:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  background-color: #171717;
  font-family: 'Audiowide', cursive;
  font-family: 'Genos', sans-serif;
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  font-size: 2.5em;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-container {
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  border: 2px solid #2b2a2a;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgba(59, 59, 59, 0.5);
}

.btn-group {
  display: flex;
  margin: 15px 0 2px;
}